@import 'scroll.css';
@import 'theme-generated.css';
@import 'font/inter/inter.css';
@import 'font/fira/fira_code.css';

/* Default global styles for component properties that can be overridden with `style-props` */
:root,
body {
  --font-sans: 'Inter', -apple-system, sans-serif;
  --font-mono: 'Fira Code', monospace;
  --input-width: 300px;
  --scrollbar-width: 8px;
  --scrollbar-height: 4px;
  --scrollbar-thumb-radius: 1px;
  --panel-padding: 1rem;
  --panel-overflow-y: auto;
  --panel-overflow-x: hidden;
  --panel-bg-color: var(--primary-bg-color);
  --preferred-ligatures-logs: none;
  --preferres-ligatures-code: none;
}

:root,
body {
  font-family: var(--font-sans);
  color: var(--primary-color);
  background-color: var(--primary-bg-color);
}

* {
  box-sizing: border-box;
  cursor: default;
}

button,
input,
textarea {
  font-family: var(--font-sans);
  font-size: inherit;
  color: inherit;
}

input,
textarea {
  cursor: text;
}

a {
  color: var(--link-color);
}

a,
a *,
button,
button * {
  cursor: pointer;
}

p {
  line-height: 1.5;
}

pre {
  margin: 0;
}

pre,
code {
  font-family: var(--font-mono);
  font-variant-ligatures: var(--preferred-ligatures-code);
}

html,
body {
  border: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3 {
  font-weight: 500;
  display: flex;
  align-items: center;
  margin: 0;
}

h1 {
  font-size: 24px;
  gap: 18px;
  margin-bottom: 32px;
}

h2 {
  font-size: 20px;
  gap: 12px;
  margin-bottom: 16px;
}

h3 {
  font-size: 17px;
  gap: 8px;
  margin-bottom: 12px;
}

b,
strong,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--strong-color);
}

hr {
  border: none;
  display: block;
  height: 1px;
  background: var(--grey-c-color);
  margin: 32px 0;
}

form label {
  display: block;
  margin-bottom: 8px;
}
