@import 'scroll.css';
@import 'theme.css';
@import 'font/inter/inter.css';
@import 'font/fira/fira_code.css';

:root {
  font-family: var(--font-sans);
  color: var(--color);
  background-color: var(--bg-color);
}

* {
  box-sizing: border-box;
  cursor: default;
}

button,
input,
textarea {
  font-family: var(--font-sans);
  font-size: inherit;
}

input,
textarea {
  cursor: text;
}

a,
a *,
.a,
.a *,
button,
button * {
  cursor: pointer;
}

pre {
  margin: 0;
}

pre,
code {
  font-family: var(--font-mono);
  font-variant-ligatures: var(--preferred-ligatures-code);
}

html,
body {
  border: none;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 28px;
  margin: 24px 0;
  font-weight: 550;
}
