@import 'scroll.css';
@import 'theme.css';

:root {
  font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: var(--color);
  background-color: var(--bg-color);
}

* {
  box-sizing: border-box;
  cursor: default;
}

button,
input,
textarea {
  font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: inherit;
}

input,
textarea {
  cursor: text;
}

a,
a *,
.a,
.a *,
button,
button * {
  cursor: pointer;
}

pre {
  margin: 0;
}

html,
body {
  border: none;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 28px;
  margin: 24px 0;
  font-weight: 550;
}
