@import 'scroll.css';
@import 'theme-generated.css';
@import 'font/inter/inter.css';
@import 'font/fira/fira_code.css';

/* Default global styles for component properties that can be overridden with `style-props` */
:root,
body {
  --font-sans: 'Inter', -apple-system, sans-serif;
  --font-mono: 'Fira Code', monospace;
  --input-width: 300px;
  --scrollbar-width: 8px;
  --scrollbar-height: 4px;
  --scrollbar-thumb-radius: 1px;
  --panel-padding: 1rem;
  --panel-overflow-y: auto;
  --panel-overflow-x: hidden;
  --panel-bg-color: var(--primary-bg-color);
  --preferred-ligatures-logs: none;
  --preferres-ligatures-code: none;
}

:root,
body {
  font-family: var(--font-sans);
  color: var(--primary-color);
  background-color: var(--primary-bg-color);
}

* {
  box-sizing: border-box;
  cursor: default;
}

button,
input,
textarea {
  font-family: var(--font-sans);
  font-size: inherit;
  color: inherit;
}

input,
textarea {
  cursor: text;
}

a {
  color: var(--link-color);
}

a,
a *,
button,
button * {
  cursor: pointer;
}

pre {
  margin: 0;
}

pre,
code {
  font-family: var(--font-mono);
  font-variant-ligatures: var(--preferred-ligatures-code);
}

html,
body {
  border: none;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 28px;
  margin: 24px 0;
  font-weight: 550;
}
