/* Default global styles for component properties that can be overridden with `style-props` */

:root {
  --input-width: 300px;
}

/* Theme color variables */

:root {
  --strong-text-color: #000000;
  --grey-1-text-color: #111111;
  --grey-2-text-color: #222222;
  --grey-3-text-color: #333333;
  --grey-4-text-color: #444444;
  --grey-5-text-color: #555555;
  --grey-6-text-color: #666666;
  --grey-7-text-color: #777777;
  --grey-8-text-color: #888888;
  --grey-9-text-color: #999999;
  --layout-bg-color: #cccccc;
  --nav-bg-color: #e7e7e7;
  --nav-button-active-bg-color: #d5d5d5;
  --nav-button-active-hover-bg-color: #cccccc;
  --secondary-bg-color: #f5f5f5;
  --primary-bg-color: #ffffff;
  --dev-mode-bg-color: #007bd4;
  --dev-mode-text-color: #ffffff;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --text-color: #fff;
    --primary-bg-color: #061a29;
  }
} */
