/* GENERATED FILE */
body.auto {
  --primary-color: #000000;
  --primary-bg-color: #ffffff;
}
body.auto * {
  --log-color: var(--light-log-color);
  --log-bg-color: var(--light-log-bg-color);
  --log-hover-color: var(--light-log-hover-color);
  --log-bg-hover-color: var(--light-log-bg-hover-color);
}
@media (prefers-color-scheme: dark) {
  body.auto {
  --primary-color: #ffffff;
  --primary-bg-color: #000000;
  }
  body.auto * {
  --log-color: var(--dark-log-color);
  --log-bg-color: var(--dark-log-bg-color);
  --log-hover-color: var(--dark-log-hover-color);
  --log-bg-hover-color: var(--dark-log-bg-hover-color);
  }
}
body.light {
  --primary-color: #000000;
  --primary-bg-color: #ffffff;
}
body.light * {
  --log-color: var(--light-log-color);
  --log-bg-color: var(--light-log-bg-color);
  --log-hover-color: var(--light-log-hover-color);
  --log-bg-hover-color: var(--light-log-bg-hover-color);
}
body.dark {
  --primary-color: #ffffff;
  --primary-bg-color: #222222;
}
body.dark * {
  --log-color: var(--dark-log-color);
  --log-bg-color: var(--dark-log-bg-color);
  --log-hover-color: var(--dark-log-hover-color);
  --log-bg-hover-color: var(--dark-log-bg-hover-color);
}
body.black {
  --primary-color: #ffffff;
  --primary-bg-color: #000000;
}
body.black * {
  --log-color: var(--dark-log-color);
  --log-bg-color: var(--dark-log-bg-color);
  --log-hover-color: var(--dark-log-hover-color);
  --log-bg-hover-color: var(--dark-log-bg-hover-color);
}
