/* Avoid awful default scrollbars in most OS/Browsers, especially in horizontally scrolling text displays. */

::-webkit-scrollbar {
  width: var(--scrollbar-width);
  height: var(--scrollbar-height);
  background: rgba(96, 96, 96, 0.1);
  margin: 4px;
  position: relative;
}

::-webkit-scrollbar-thumb {
  background: rgba(96, 96, 96, 0.33);
  border-radius: var(--scrollbar-thumb-radius);
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(96, 96, 96, 0.67);
}
