<!DOCTYPE html>
<html>

  <head>
    <title>{{ .Status|html }} - Exo</title>
    <meta content="dark light" name=color-scheme>
    <meta charset=UTF-8>
    <meta content="width=device-width" name=viewport>
    <style>
      html,
      body {
        height: 100vh;
        width: 100vw;
        border: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
      }

      body {
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: Inter, sans-serif;
        overflow-y: scroll;
        font-size: 18px;
      }

      * {
        cursor: default;
      }

      section {
        max-width: 720px;
      }

      main {
        display: flex;
        position: relative;
        align-items: flex-start;
        gap: 18px;
        margin-bottom: 48px;
      }

      main div {
        width: 1px;
        height: 100%;
        min-height: 24px;
        background: #77777755;
      }

      aside {
        display: flex;
        align-items: center;
        gap: 12px;
        user-select: none;
        margin-bottom: 60px;
      }

      aside span {
        color: #777;
      }

      a {
        color: inherit;
        text-decoration: none;
        border-bottom: 1px solid currentColor;
        padding: 3px;
        opacity: 0.667;
        cursor: pointer;
      }

      a:hover {
        opacity: 1;
      }
    </style>
  </head>

  <body>
    <section>
      <main>
        <b>{{ .Status|html }}</b>
        <div></div>
        <span>{{ .Message|html }}</span>
      </main>
      <aside>
        <span>Need help?</span>
        <a href='https://github.com/deref/exo'>GitHub repository here</a>
      </aside>
    </section>
  </body>

</html>
