<style>
  html, body {
    height: 100%;
    width: 100%;
  }
  body {
    display: flex;
    align-items: center;
    justify-content: center;
  }
</style>
<main>
  <b>{{ .Status|html }}</b>
  <span>{{ .Message|html }}</span>
</main>
