services:
  echo:
    image: hashicorp/http-echo
    command: '-text="hello world"'
    networks:
    - custom
  t1:
    image: curlimages/curl
    command: sh -c 'while true; do curl -s http://echo:5678; sleep 1; done'
networks:
  custom:
